@model TaskManager.ViewModels.DeactivateAccountViewModel

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-4 p-lg-5 my-3">
        <h1 class="clr-accent-warm">Deactivate your account <i class="fa-solid fa-user-xmark"></i></h1>
        <p>You are about to deactivate your account. Any Tasklists currently owned by you will be deleted.
            <br/>If you wish to avoid this, please transfer ownership of these lists to another user before deactivating your account.
            <br/><br/>You can transfer ownership of a tasklist by visiting the tasklist details page and clicking "Transfer ownership".
            <br/><a asp-controller="Tasklist" asp-action="Tasklists" class="std-link fw-bold">Go to the tasklists page >></a>.
        </p>
        <form asp-action="DeactivateAccount" method="post" class="std-form">
            <div class="form-group">
                <label asp-for="Password">Enter your password to confirm:</label>
                <input asp-for="Password" class="form-control" type="password" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <input asp-for="ConfirmDeactivation" class="form-check-input" required />
                <label asp-for="ConfirmDeactivation" class="form-check-label">
                    I understand that any Tasklists or other entities owned by me will be deleted as part of this process.
                </label>
                <span asp-validation-for="ConfirmDeactivation" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <a asp-action="AccountCenter" class="link-btn shadow-light">Cancel</a>
                <button type="submit" class="btn btn-red shadow-light">Confirm deactivation</button>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </section>
</div>