@model TaskManager.ViewModels.ForgotPasswordViewModel

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-4 p-lg-5 my-3">
        <h1 class="clr-accent-bright">Request password reset <i class="fa-solid fa-user-lock"></i></i></h1>
        <form asp-action="ForgotPassword" method="post" class="std-form">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-bright shadow-light">Start password reset</button>
            </div>
        </form>
    </section>
</div>