<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-4 p-lg-5 my-3">
        <h1 class="clr-accent-bright">Password reset confirmation</h1>
        <p>Your password was reset. Please check your email for a link to update your password.</p>
    </section>
</div>