@model TaskManager.ViewModels.LoginViewModel

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-4 p-lg-5 my-3">
        <h1 class="clr-accent-bright">Log in <i class="fa-solid fa-user-lock"></i></i></h1>
        <form asp-action="Login" method="post" class="std-form">
            <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>

                <label asp-for="UserName"></label>
                <input asp-for="UserName" />


                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" />


            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-bright shadow-light">Login</button>
            </div>
        </form>
        <div class="d-flex justify-content-center gap-2 p-3 bg-neutral mt-3 flex-wrap">
            <a asp-action="ReactivateAccount" class="std-link fw-bold">Reactivate an inactive account</a> | 
            <a asp-action="ForgotPassword" class="std-link fw-bold">Forgot password?</a>
        </div>
    </section>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-check clr-primary"></i> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-xmark clr-accent-warm"></i> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}