@model TaskManager.ViewModels.LoginViewModel

<h2>Login</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["ErrorMessage"]
    </div>
}

<form asp-action="Login" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
    </div>

    <div>
        <input asp-for="RememberMe" />
        <label asp-for="RememberMe"></label>
    </div>

    <button type="submit">Login</button>
</form>

<a asp-action="ReactivateAccount">Reactivate an inactive account.</a>
<a asp-action="ForgotPassword">Forgot password?</a>