@model TaskManager.ViewModels.ReactivateAccountViewModel

@{
    ViewData["Title"] = "Reactivate Account";
}

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-4 p-lg-5 my-3">
        <h1 class="clr-accent-bright">Reactivate an existing account <i class="fa-solid fa-key"></i></i></h1>
        <form asp-action="ReactivateAccount" method="post" class="std-form">
            <div class="form-group">
                <label>Email or username:</label>
                <input asp-for="EmailOrUsername" class="form-control" />
                <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-bright shadow-light">Reactivate account</button>
                </div>

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </section>
</div>

@if (TempData["ReactivatePrompt"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-exclamation clr-accent-bright"></i> @TempData["ReactivatePrompt"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}