<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-4 p-lg-5 my-3">
        <h1 class="clr-accent-bright">Your password was successfully updated</h1>
        <p>Your password was successfully updated. Please <a asp-action="Login" class="std-link fw-bold">log in >></a></p>
        
    </section>
</div>