@model TaskManager.ViewModels.SignUpViewModel

@{
    ViewData["Title"] = "Sign Up";
}

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-4 p-lg-5 my-3">
        <h1 class="clr-primary">Create an account <i class="fa-solid fa-user-plus"></i></h1>
    <div asp-validation-summary="All" class="field-validation-error"></div>

    <form asp-action="Signup" class="std-form">
        <label>Username:</label>
        <input type="text" asp-for="UserName" />
        <!-- Display validation message for the username field -->
        <span asp-validation-for="UserName" class="field-validation-error"></span>


        <label>Email:</label>
        <input type="email" asp-for="Email" />
        <!-- Display validation message for the email field -->
        <span asp-validation-for="Email" class="field-validation-error"></span>


        <label>Password:</label>
        <input type="password" asp-for="Password"/>
        <span asp-validation-for="Password" class="field-validation-error"></span>

        
        <label>Repeat password:</label>
        <input type="password" asp-for="ConfirmPassword"/>
        <!-- Display validation message for the Name field -->
        <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>

        <button type="submit" value="Submit" class="btn btn-brand shadow-light">Sign Up!</button>

    </form>
        <div class="d-flex justify-content-center gap-2 p-3 bg-neutral mt-3">
            <a asp-action="ReactivateAccount" class="std-link fw-bold">Reactivate an inactive account</a>
        </div>
    </section>
</div>