/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* .border-top {
  border-top: 1px solid #e5e5e5;
} */

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .50rem rgba(106, 106, 106, 0.05);
}

/* button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
} */

@media (min-width: 992px) {

  /* Create underline hover effect - credit: https://codepen.io/sreisner/pen/yOOOjx */
  .nav-item,
  .nav-item button {
    position: relative;
  }

  .nav-item::before,
  .nav-item button::before {
    content: "";
    position: absolute;
    bottom: 5px;
    /* Adjust this if needed */
    left: 0;
    height: 2.5px;
    width: 0%;
    background-color: var(--clr-brand);
    /* Underline color */
    transition: width 500ms ease;
    /* Smooth animation */
  }

  .nav-item:hover::before,
  .nav-item button:hover::before,
  .nav-item.active::before {
    width: calc(100% - 17.6px);
    left: 8.8px;
    /* Expands underline to full width of the nav-item */
  }
}