@model TaskManager.Models.TaskModel

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white p-3 p-lg-4 my-3">
        <h1 class="clr-accent-warm">Delete Task <i class="fa-regular fa-note-sticky"></i></h1>

        <p>Are you sure you want to delete this task?</p>

        <div>
            <strong>Description:</strong> @Model.Description
        </div>
        <div>
            <strong>Priority:</strong> @Model.Priority
        </div>
        <div>
            <strong>Status:</strong> @Html.DisplayFor(Model => Model.Status)
        </div>

        <form asp-action="Delete" method="post" class="std-form">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ListId" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="Priority" />
            <input type="hidden" asp-for="Status" />

            <div class="d-flex justify-content-end gap-2">
                <a asp-controller="Tasklist" asp-action="Tasklist" asp-route-listId="@Model.ListId" class="btn link-btn shadow-light">Cancel</a>
                <button type="submit" class="btn btn-red shadow-light">Confirm Deletion</button>
            </div>
            
            
        </form>

        <div asp-validation-summary="All" class="text-danger"></div>

    </section>
</div>