@{
    ViewData["Title"] = "TaskManager - Home";
}

<div class="bg-white py-3 py-lg-5">
    <section class="std-container">
            <h1 class="clr-primary hero-title">
                <span>T</span><span>a</span><span>s</span><span>k</span><span>M</span><span>a</span><span>n</span><span>a</span><span>g</span><span>e</span><span>r</span>
            </h1>
            <div class="d-flex gap-2 flex-wrap justify-content-start align-items-center">
                    <h2 class="">Get organized with neat and collaborative tasklists today.</h2>
                <div class="button-container">
                    <a asp-controller="User" asp-action="SignUp" class="btn link-btn btn-bright shadow-light">Get Started!</a>
                </div>
            </div>
    </section>
</div>

<div class="py-3 py-md-4 py-lg-5">
    <section class="std-container bg-white p-3 p-md-4 p-lg-5">
        <div class="row m-0">
            <div class="col-md-8 col-lg-7 pe-md-4 d-flex flex-column justify-content-center gap-2">
                <h2 class="clr-accent-warm mb-0">Use tasklists to keep track of your work</h2>
                <ul class="std-list list-warm">
                    <li>All your to-do's neatly organised - byebye mindclutter</li>
                    <li>Create as many lists as you want</li>
                    <li>Easily track progress</li>
                    <li>Get the satisfaction of crossing items of your lists!</li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-5 device-sq p-3 bg-accent-warm img-container-fit">
                <img src="https://res.cloudinary.com/deceun0wd/image/upload/v1740924168/tm-tasklist-ss_lrmtwj.png" alt="">
            </div>
        </div>
        <div class="row m-0 pt-md-4">
            <div class="col-md-8 col-lg-7 pt-4 pt-md-0 ps-md-4 d-flex flex-column justify-content-center gap-2 order-md-1">
                <h2 class="clr-accent-bright mb-0">Collaborate with colleages and friends</h2>
                <ul class="std-list list-bright">
                    <li>Invite friends/colleagues to collaborate on your lists</li>
                    <li>Assign a suitable role for each collaborator</li>
                    <li>Send email invitations to users with no account yet</li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-5 device-sq p-3 bg-accent-bright img-container-fit">
                <img src="https://res.cloudinary.com/deceun0wd/image/upload/v1740924180/tm-contributors-ss_vzyq5g.png" alt="">
            </div>
        </div>
        <div class="mt-3 mt-md-4 pt-3 p-md-4">
            <h2 class="clr-primary">TaskManager is completely free - Sign up now and try ot for yourself.</h2>
            <div class="d-flex justify-content-center">
                <a asp-controller="User" asp-action="SignUp" class="btn link-btn btn-brand px-3 py-2 shadow-light">Sign Up!</a>
            </div>
        </div>
    </section>
</div>

    <section class="std-container">
        <h2>FAQ</h2>
    </section>