@{
    ViewData["Title"] = "TaskManager - Home";
}

<div class="bg-white py-3 py-lg-5">
    <section class="std-container">
            <h1 class="clr-primary hero-title">
                <span>T</span><span>a</span><span>s</span><span>k</span><span>M</span><span>a</span><span>n</span><span>a</span><span>g</span><span>e</span><span>r</span>
            </h1>
            <div class="d-flex gap-2 flex-wrap justify-content-start align-items-center">
                    <h2 class="">Get organized with neat and collaborative tasklists today.</h2>
                <div class="button-container">
                    <a asp-controller="User" asp-action="SignUp" class="btn link-btn btn-bright shadow-light">Get Started!</a>
                </div>
            </div>
    </section>
</div>

<div class="bg-brand py-3 py-lg-5">
    <section class="std-container bg-white card p-3">
        <div class="row">
            <div class="col-md-7">
                <h2 class="clr-accent-warm">Create tasklists</h2>
                <ul>
                    <li>All your to-do's neatly organised</li>
                    <li>Create as many lists as you want</li>
                    <li>Easily track progress</li>
                    <li>Get the satisfaction of crossing items of your lists!</li>
                </ul>
            </div>
            <div class="col-md-5">
                <span>image</span>
            </div>
        </div>
        <div class="row">

            <div class="col-md-5">
                <span>image</span>
            </div>
            <div class="col-md-7">
                <h2 class="clr-accent-bright">Collaborate!</h2>
                <ul>
                    <li>Invite friends/colleagues to collaborate on your lists</li>
                    <li>Assign a suitable role for each collaborator</li>
                    <li>Send email invitations to users with no account yet</li>
                </ul>
            </div>
        </div>
    </section>
</div>

    <section class="std-container">
        <h2>FAQ</h2>
    </section>