/* ------------------------------------ Carousel */
.my-carousel {
    position: relative;
    height: 1.5em;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.carousel-text {
    position: absolute;
    top: 50%;
    /* Align vertically */
    left: 50%;
    /* Align horizontally */
    transform: translate(-50%, -50%) translateY(100%);
    width: 100%;
    opacity: 0;
    animation: carousel-animation 16s infinite ease-in-out;
}

.carousel-text:nth-child(1) {
    animation-delay: 0s;
}

.carousel-text:nth-child(2) {
    animation-delay: 4s;
}

.carousel-text:nth-child(3) {
    animation-delay: 8s;
}

.carousel-text:nth-child(4) {
    animation-delay: 12s;
}

@keyframes carousel-animation {

    0%,
    15% {
        /* Before becoming active */
        opacity: 0;
        transform: translate(-50%, 100%);
    }

    20%,
    40% {
        /* While active */
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    45%,
    100% {
        /* After transitioning out */
        opacity: 0;
        transform: translate(-50%, -100%);
    }
}