@model TaskManager.ViewModels.InviteUserViewModel

@{
    ViewData["Title"] = "Invite a New Contributor";
}

<div class="d-flex flex-grow-1 justify-content-center align-items-center">
    <section class="std-container card bg-white shadow-dark p-3 p-lg-4 my-3">
        <h1>Invite a New User to <span class="clr-primary">@Model.TasklistTitle <i class="fa-solid fa-clipboard-list"></i></span></h1>

        <form method="post" asp-action="Invite" class="std-form">
            <!-- Pass viewmodel data in a hidden fields -->
            <input type="hidden" asp-for="ListId" />
            <input type="hidden" asp-for="TasklistTitle" />
            <input type="hidden" asp-for="InvitingUsername" />

            <div class="form-group">
                <label for="email">User Email</label>
                <input type="email" id="email" name="email" class="form-control" required />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <select id="role" name="role" class="form-control" required>
                    <option value="">Select Role</option>
                    <option value="Contributor">Contributor</option>
                    <option value="Admin">Admin</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-end gap-2">
                <a asp-controller="Tasklist" asp-action="Tasklist" asp-route-listId="@Model.ListId" class="btn link-btn shadow-light">Cancel</a>
                <button type="submit" class="btn btn-brand shadow-light">Send Invite</button>
            </div>
            
            

            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </section>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-check clr-primary"></i> @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert-container p-3 pe-md-0 d-flex justify-content-end">
    <div class="alert alert-light alert-dismissible fade show shadow-dark" role="alert">
        <i class="fa-solid fa-xmark clr-accent-warm"></i> @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
}