/* ------------------------------GENERAL STYLES */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-brand: #65b2ff;
  --clr-accent--bright: #b662ff;
  --clr-accent--warm: #ff5858;
  --clr-neutral: #f4f2f2;
  --clr-dark: #1c1e23;
  --clr-mid-dark: #66686c;
  --clr-neutral-dark: #d7d3d3;
  --clr-accent--dark: #311c96;
  --clr-btn-red: #ff5858;
  --clr-btn-red-dark: #b11919;
  --clr-btn-edit: #ffea00;
  --clr-btn-edit-dark: #e4ce0a;
  --clr-btn-brand-dark: #519eeb;
  --clr-accent--bright-dark: #934bd2;
  --clr-not-started: #d7d3d3;
  --clr-progress: #ffea00;
  --clr-progress-light: #fdf7d8;
  --clr-complete: #12942c;
  --clr-complete-light: #eefde1;
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Fredoka', sans-serif;
}

html {
  font-size: 1rem;
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
}

.std-container {
  width: 95%;
  margin: 0 auto;
}

.txt-smaller {
  font-size: 0.9em;
}

.txt-bigger {
  font-size: 1.1em;
}

/* -------------------------------- SHAPES AND SIZES */

.round {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.w-40 {
  width: 40px;
}

.w-sm-50 {
  width: 50%;
}

/* -------------------------------- COLOURS */
.bg-neutral {
  background-color: var(--clr-neutral);
}

.bg-brand {
  background-color: var(--clr-brand);
}

.bg-accent-bright {
  background-color: var(--clr-accent--bright);
}

.border-neutral {
  border: 0.5px solid #e4e4e4;
}

.clr-primary {
  color: var(--clr-brand);
}

.clr-accent-bright {
  color: var(--clr-accent--bright);
}

.clr-accent-warm {
  color: var(--clr-accent--warm);
}

.bg-not-started {
  background-color: var(--clr-not-started);
}

.bg-progress {
  background: var(--clr-progress);
}

.bg-progress-light {
  background: var(--clr-progress-light);
}

.bg-complete {
  background-color: var(--clr-complete);
}

.bg-complete-light {
  background: var(--clr-complete-light);
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-mid-dark {
  background-color: var(--clr-mid-dark);
}

.bg-neutral-dark {
  background-color: var(--clr-neutral-dark);
}

/* ------------------------------- BUTTONS */

.link-btn {
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  border-radius: 6px;
  /* box-shadow: 5px 5px 3px #fafafa; */
}

.link-btn:focus,
.link-btn:active,
.link-btn:hover {
  color: var(--clr-dark);
}

.btn-red {
  background-color: var(--clr-btn-red);
  color: white;
}

.btn-red:focus,
.btn-red:active,
.btn-red:hover {
  background-color: var(--clr-btn-red-dark);
  color: #ffffff;
}


.btn-edit {
  background-color: var(--clr-btn-edit);
  color: white;
}

.btn-edit:focus,
.btn-edit:active,
.btn-edit:hover {
  background-color: var(--clr-btn-edit-dark);
  color: #ffffff;
}

.btn-progress-outline {
  background-color: white;
  color: var(--clr-dark);
  border: 2px solid var(--clr-progress);
}

.btn-progress-outline:focus,
.btn-progress-outline:active,
.btn-progress-outline:hover {
  background-color: var(--clr-progress);
  color: var(--clr-dark);
}

.btn-complete-outline {
  background-color: white;
  color: var(--clr-dark);
  border: 2px solid var(--clr-complete);
}

.btn-complete-outline:focus,
.btn-complete-outline:active,
.btn-complete-outline:hover {
  background-color: var(--clr-complete);
  color: white;
}


.btn-brand {
  background-color: var(--clr-brand);
  color: white;
}

.btn-brand:focus,
.btn-brand:active,
.btn-brand:hover {
  background-color: var(--clr-btn-brand-dark);
  color: #ffffff;
}

.btn-bright {
  background-color: var(--clr-accent--bright);
  color: white;
}

.btn-bright:focus,
.btn-bright:active,
.btn-bright:hover {
  background-color: var(--clr-accent--bright-dark);
  color: #ffffff;
}

.std-link {
  text-decoration: none;
  color: var(--clr-dark);
}


.shadow-dark {
  box-shadow: 5px 5px 8px #efeded;
}

.shadow-light {
  box-shadow: 5px 5px 8px #fafafa;
}

/* ----------------------------------- Badges */
.badge-bright {
  background-color: var(--clr-accent--bright);
  color: white;
}

.badge {
  font-size: 0.7em;
  font-weight: normal;
  font-family: var(--ff-primary);
  line-height: inherit;
}

/* ----------------------------------- Cards */

.card {
  border: 0.5px solid #ededed;
}

/* ----------------------------------- Images */

.std-img-container {
  display: flex;
}

.std-img-container img {
  display: flex;
  object-fit: cover;
  width: 100%;
}

/* ----------------------------------- Forms */
.std-form {
  display: flex;
  flex-direction: column;
}

.std-form input,
.std-form textarea,
.std-form select {
  border: none;
  border-bottom: 1px solid var(--clr-dark);
  padding: 5px;
  font-family: var(--ff-primary);
  margin-bottom: 1em;
  background-color: var(--clr-neutral);
}

.field-validation-error {
  color: var(--clr-btn-red-dark);
  font-size: 0.9em;
}

.role-tbl td,
.role-tbl select {
  font-size: 0.9rem;
  padding: 5px;
  margin-bottom: 0;
}

.alert-container {
  position: fixed;
  top: 58px;
  width: 100%;
  z-index: 1000;
}

.alert {
  opacity: 0.95;
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  .std-container,
  .std-container-md {
    width: 85%;
    margin: 0 auto;
  }

  .alert-container {
    top: 62.59px;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
  }

  .alert {
    max-width: 300px;
    border: 0.5px solid #ededed;
  }

  .w-md-30 {
    width: 30%;
  }

  .card-md {
    border: 0.5px solid #ededed;
  }

  .role-tbl td,
  .role-tbl select {
    font-size: 1rem;
    padding: 8px;
  }

}

@media (min-width: 998px) {

  .std-container,
  .std-container-md {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .alert-container {
    top: 64.59px;
    width: 80%;
    max-width: 1100px;
  }

  .fs-lg-smaller {
    font-size: 0.8em;
  }

  .w-lg-30 {
    width: 30%;
  }

  .std-form button {
    width: 250px;
    align-self: flex-end;
  }
}