/* ------------------------------GENERAL STYLES */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --clr-brand: #65b2ff;
  --clr-accent--bright: #b662ff;
  --clr-accent--warm: #ff5858;
  --clr-neutral: #f4f2f2;
  --clr-dark: #1c1e23;
  --clr-accent--dark: #311c96;
  --clr-btn-red: #ff5858;
  --clr-btn-red-dark: #b11919;
  --clr-btn-edit: #ffea00;
  /* --clr-btn-edit: #ffec1c; */
  --clr-btn-edit-dark: #e4ce0a;
  --clr-btn-brand-dark: #519eeb;
  --ff-primary: 'Poppins', sans-serif;
  --ff-secondary: 'Fredoka', sans-serif;
}

html {
  font-size: 1rem;
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-secondary);
}

.std-container {
  width: 95%;
  margin: 0 auto;
}

/* -------------------------------- SHAPES AND SIZES */

.round {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

.w-40 {
  width: 40px;
}


/* -------------------------------- COLOURS */
.bg-neutral {
  background-color: var(--clr-neutral);
}

.bg-brand {
  background-color: var(--clr-brand);
}

.border-neutral {
  border: 0.5px solid #e4e4e4;
}

.clr-primary {
  color: var(--clr-brand);
}

.clr-accent-bright {
  color: var(--clr-accent--bright);
}

.clr-accent-warm {
  color: var(--clr-accent--warm);
}

/* ------------------------------- BUTTONS */

.link-btn {
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--clr-neutral);
  color: var(--clr-dark);
  border-radius: 6px;
  box-shadow: 5px 5px 3px #fafafa;
}

.link-btn:focus,
.link-btn:active,
.link-btn:hover {
  color: var(--clr-dark);
}

.btn-red {
  background-color: var(--clr-btn-red);
  color: white;
}

.btn-red:focus,
.btn-red:active,
.btn-red:hover {
  background-color: var(--clr-btn-red-dark);
  color: #ffffff;
}


.btn-edit {
  background-color: var(--clr-btn-edit);
  color: white;
}

.btn-edit:focus,
.btn-edit:active,
.btn-edit:hover {
  background-color: var(--clr-btn-edit-dark);
  color: #ffffff;
}

.btn-brand {
  background-color: var(--clr-brand);
  color: white;
}

.btn-brand:focus,
.btn-brand:active,
.btn-brand:hover {
  background-color: var(--clr-btn-brand-dark);
  color: #ffffff;
}

.std-link {
  text-decoration: none;
  color: var(--clr-dark);
}

/* ----------------------------------- Badges */
.badge-bright {
  background-color: var(--clr-accent--bright);
  color: white;
  font-size: 0.7em;
  font-weight: normal;
  font-family: var(--ff-primary);
}

/* ----------------------------------- Cards */

.card {
  border: 0.5px solid #ededed;
}

/* ------------------------------------ Carousel */
.my-carousel {
  position: relative;
  height: 1.5em;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.carousel-text {
  position: absolute;
  top: 50%;
  /* Align vertically */
  left: 50%;
  /* Align horizontally */
  transform: translate(-50%, -50%) translateY(100%);
  width: 100%;
  opacity: 0;
  animation: carousel-animation 16s infinite ease-in-out;
}

.carousel-text:nth-child(1) {
  animation-delay: 0s;
}

.carousel-text:nth-child(2) {
  animation-delay: 4s;
}

.carousel-text:nth-child(3) {
  animation-delay: 8s;
}

.carousel-text:nth-child(4) {
  animation-delay: 12s;
}

@keyframes carousel-animation {

  0%,
  15% {
    /* Before becoming active */
    opacity: 0;
    transform: translate(-50%, 100%);
  }

  20%,
  40% {
    /* While active */
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  45%,
  100% {
    /* After transitioning out */
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }

  .std-container {
    width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 998px) {

  .std-container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
  }

  .fs-lg-smaller {
    font-size: 0.8em;
  }
}